* {
  padding: 0;
  margin: 0;
  overflow: hidden auto;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
#title {
  background-image: url("pozadina.jpg");
  padding: 300px 100px;
  color: white;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: row;
}
.text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 25px 0;
  background-color: #ededede6;
  width: 100%;
}
.book-now {
  position: absolute;
  right: 80px;
  top: 30%;
  padding: 15px 20px;
  color: black;
  border: 0;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #a2831f 100%, transparent 0%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s ease;
  background-color: #d4af37;
}
#drop-down-btn {
  display: none;
}
.book-now:hover {
  background-size: 100% 100%;
  color: black;
}
#title-text {
  font-size: 18px;
  align-self: center;
  padding: 0;
  color: #ededed;
}
#logo {
  width: 75px;
  height: 75px;
  align-self: center;
  margin: 0 25px;
  border-radius: 50%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
}
#header ul {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: center;
  background-color: #1a1a1a;
  list-style: none;
  justify-content: space-evenly;
}
#header a {
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
}
#header li {
  padding: 20px 0;
}
#header li:hover {
  background-color: #ffffff;
  transition: 0.5s ease;
  padding: 20px 30px;
}
#header li:hover a {
  color: #1a1a1a;
  transition: 0.5s;
}
#gallery {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#gallery h2 {
  font-size: 50px;
  margin: 20px auto;
  color: #333333;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}
.gallery-item {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed6d;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  border-radius: 10px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay button {
  padding: 10px 15px;
  background-color: #d4af37;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.overlay button:hover {
  background-color: #d4af37;
}
#services h2 {
  text-align: center;
  font-size: 50px;
  color: #333333;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  margin-bottom: 50px;
}
.nudimo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-description {
  margin-top: 50px;
  text-align: center;
  color: #333333;
}
.service-description p {
  white-space: wrap;
}
.service-card img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  padding: 75px;
  border-radius: 25%;
  background-color: #d4af37;
}
.service-card img:hover {
  background-color: #ffffff;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(1.08);
  border-radius: 25%;
}
#booking {
  text-align: center;
  background-image: url(rezervacijabg.jpg);
  color: #ffffff;
  margin-top: 50px;
}
.box {
  width: fit-content;
  margin: auto;
  background-color: #1a1a1a95;
}
#booking h2 {
  font-size: 50px;
  color: #ffffff;
  margin: auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a95;
}
.slots-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.comment-meta {
  display: inline-block;
}

.comment p {
  margin: 0;
}

.timeslot {
  width: fit-content;
  margin: auto;
  padding: 10px 150px;
  font-size: x-large;
  background-color: #d4af37;
  color: #ffffff;
  border-radius: 10px;
}
#prev-day,
#next-day {
  color: #ffffff;
}
.submit {
  width: fit-content;
  margin: 25px auto;
  padding: 10px 145px;
  font-size: x-large;
  background-color: #d4af37;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
#date {
  padding: 20px;
  border-radius: 10px;
  background-color: #d4af37;
  margin: 25px 0;
  font-size: large;
  color: #ffffff;
}
label {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  text-align: center;
  background-color: #1a1a1ace;
}
.timeslots p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
  background-color: #1a1a1ace;
  letter-spacing: 3px;
  margin: auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.timeslot:hover {
  background-color: #ededed;
  transition: 0.3s ease;
  color: #1a1a1a;
  cursor: pointer;
}
#footer {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.submit:hover {
  background-color: #ededed;
  transition: 0.3s ease;
  color: #1a1a1a;
  cursor: pointer;
}

.datebutton {
  font-size: large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.podaci {
  display: none;
  background-color: #ffffff8b;
  width: fit-content;
  margin: auto;
}
.podaci h4 {
  color: #1a1a1a;
}
.rezervacija {
  margin: 5px;
  padding: 10px;
}
.about-section {
  padding: 60px 20px;
  background-color: #ededed;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.about-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #222;
}

.about-section p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
  line-height: 1.6;
}
#comments_section {
  margin-top: 30px;
  text-align: center;
}
#comments_section h2 {
  margin-bottom: 15px;
}
#comments_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
#add_comment_btn,
#submit_comment_btn {
  height: 30px;
  width: 150px;
  border-radius: 10px;
}
#add_comment_btn:hover,
#submit_comment_btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.5s;
}
#input_name {
  width: 170px;
  height: 30px;
}
#input_rating {
  margin-bottom: 10px;
  height: 20px;
  text-align: center;
}
#input_text {
  margin-top: 10px;
  width: 200px;
  height: 80px;
}
.comment {
  flex: 0 1 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
}
#contact {
  margin-top: 50px;
  text-align: center;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact h1 {
  color: #1a1a1a;
}
footer {
  margin-top: 20px;
  text-align: center;
  border: 1px solid silver;
}

@media (max-width: 600px) {
  #title {
    flex-direction: column;
  }
  #title-text {
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  .buttoni {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .book-now {
    position: static;
    margin: auto;
    margin-top: 10px;
  }
  #drop-down-btn {
    display: block;
    position: relative;
    right: 20%;
    border: 0;
    align-self: flex-end;
  }
  #menu-icon {
    height: 50px;
    width: 50px;
  }
  #header ul {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .nudimo {
    flex-direction: column;
  }
  .service-description {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .timeslot {
    padding: 10px 110px;
  }
  #date {
    padding: 10px 0;
    text-align: center;
  }
  .submit {
    padding: 10px 120px;
    text-align: center;
  }
  .gallery-item:nth-child(n + 4) {
    display: none;
  }
  #next-day,
  #prev-day {
    display: none;
  }
}
