* {
  padding: 0;
  margin: 0;
  overflow: hidden auto; /* sakriva scroll bar */
}
#title {
  background-image: url("pozadina.jpg"); /* tamnozelena boja */
  padding: 300px 100px; /* da se unutrašnji sadržaj ne zalijepi uz rubove */
  color: white;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: row;
}
.text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 25px 0;
  background-color: #ededede6;
  width: 100%;
}
.book-now {
  position: absolute;
  right: 80px;
  top: 30%;
  background-color: #d4af37;
  padding: 15px 20px;
  color: black;
  border: 0;
  font-size: large;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
#title-text {
  font-size: 18px; /* postavi veličinu fonta */
  align-self: center; /* centriraj tekst vertikalno */
  padding: 0;
  color: #ededed;
}
#logo {
  width: 75px;
  height: 75px;
  align-self: center;
  margin: 0 25px;
  border-radius: 50%; /* zaokružuje sliku */
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
}
#header ul {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: center;
  background-color: #1a1a1a;
  list-style: none;
  justify-content: space-evenly;
}
#header a {
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
}
#header li {
  padding: 20px 0;
}
#header li:hover {
  background-color: #ffffff;
  transition: 0.5s ease;
  padding: 20px 30px;
}
#header li:hover a {
  color: #1a1a1a;
  transition: 0.5s;
}
#gallery {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#gallery h2 {
  font-size: 50px;
  margin: 20px 0;
  color: #333333;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}
.gallery-item {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed6d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  border-radius: 10px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay button {
  padding: 10px 15px;
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.overlay button:hover {
  background-color: #d4af37;
}
#services h2 {
  text-align: center;
  font-size: 50px;
  color: #333333;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  margin-bottom: 50px;
}
.nudimo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-description {
  margin-top: 50px;
  text-align: center;
  color: #333333;
}
.service-description p {
  white-space: wrap;
}
.service-card img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  padding: 75px;
  border-radius: 25%;
  background-color: #d4af37;
}
.service-card img:hover {
  background-color: #ffffff;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(1.08);
  border-radius: 25%;
}
#booking {
  text-align: center;
  background-image: url(rezervacijabg.jpg);
  color: #ffffff;
  margin-top: 50px;
}
.box {
  width: fit-content;
  margin: auto;
  background-color: #1a1a1a;
}
#booking h2 {
  font-size: 50px;
  color: #ffffff;
  margin: auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a;
}
.slots-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.timeslot {
  width: fit-content;
  margin: auto;
  padding: 10px 150px;
  font-size: x-large;
  background-color: #d4af37;
  color: #ffffff;
  border-radius: 10px;
}
#prev-day,
#next-day {
  color: #ffffff;
}
.submit {
  width: fit-content;
  margin: 25px auto;
  padding: 10px 145px;
  font-size: x-large;
  background-color: #d4af37;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
#date {
  padding: 20px;
  border-radius: 10px;
  background-color: #d4af37;
  margin: 25px 0;
  font-size: large;
  color: #ffffff;
}
label {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  text-align: center;
  background-color: #1a1a1ace;
}
.timeslots p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bolder;
  background-color: #1a1a1ace;
  letter-spacing: 3px;
  margin: auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.timeslot:hover {
  background-color: #ededed;
  transition: 0.3s ease;
  color: #1a1a1a;
  cursor: pointer;
}
#footer {
  background-color: rgb(6, 94, 79);
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.submit:hover {
  background-color: #ededed;
  transition: 0.3s ease;
  color: #1a1a1a;
  cursor: pointer;
}

.datebutton {
  font-size: large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.podaci {
  display: none;
}
.rezervacija {
  margin: 5px;
  padding: 10px;
}
.about-section {
  padding: 60px 20px;
  background-color: #ededed;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.about-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #222;
}

.about-section p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
  line-height: 1.6;
}
#comments_section {
  margin-top: 30px;
  text-align: center;
}
#comments_section h2 {
  margin-bottom: 15px;
}
#comments_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.comment {
  flex: 0 1 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
}
#contact {
  margin-top: 50px;
  text-align: center;
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact h1 {
  color: #1a1a1a;
}
footer {
  margin-top: 20px;
  text-align: center;
  border: 1px solid silver;
}
